In [65]:
import numpy as np
import pandas as pd

In [66]:
index = pd.date_range("1/1/2000", periods=8)

In [67]:
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])
df = pd.DataFrame(np.random.randn(8, 3), index=index, columns=["A", "B", "C"])

In [89]:
print(s)
print(df)

a    0.091693
b   -0.627610
c    0.008635
d    0.808967
e   -0.380636
dtype: float64
                   A         B         C
2000-01-01 -0.645757 -0.699701 -2.091748
2000-01-02 -0.628477  1.745387  1.012103
2000-01-03 -0.268163 -1.187973       NaN
2000-01-04 -1.571682 -0.563264  0.846843
2000-01-05 -0.268163  0.304404       NaN
2000-01-06  0.264803 -0.198842  1.040084
2000-01-07  0.100862 -0.411988 -1.135035
2000-01-08  0.871272 -0.014444  0.363459

In [69]:
# print(s.head(3))
# print(df.head())

In [80]:
df.iloc[[4,2],[0,2]]=np.nan

In [88]:
print(df)
print(df.mean())

                   A         B         C
2000-01-01 -0.645757 -0.699701 -2.091748
2000-01-02 -0.628477  1.745387  1.012103
2000-01-03 -0.268163 -1.187973       NaN
2000-01-04 -1.571682 -0.563264  0.846843
2000-01-05 -0.268163  0.304404       NaN
2000-01-06  0.264803 -0.198842  1.040084
2000-01-07  0.100862 -0.411988 -1.135035
2000-01-08  0.871272 -0.014444  0.363459
A   -0.268163
B   -0.128303
C    0.005951
dtype: float64

In [93]:
# df["A"].fillna(df["A"].mean(),inplace=True)
df=df.dropna()

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2000-01-01 to 2000-01-08
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
dtypes: float64(3)
memory usage: 192.0 bytes

In [99]:
df.sort_values(by="A",ascending=False)

                   A         B         C
2000-01-08  0.871272 -0.014444  0.363459
2000-01-06  0.264803 -0.198842  1.040084
2000-01-07  0.100862 -0.411988 -1.135035
2000-01-02 -0.628477  1.745387  1.012103
2000-01-01 -0.645757 -0.699701 -2.091748
2000-01-04 -1.571682 -0.563264  0.846843

In [112]:
df.loc[["2000-01-08","2000-01-07"],["A","B"]]

                   A         B
2000-01-08  0.871272 -0.014444
2000-01-07  0.100862 -0.411988

In [116]:
df.iloc[[1,3],[0,2]]

SyntaxError: invalid syntax (4174772937.py, line 1)