In [116]:
import pandas as pd
import numpy as np

In [117]:
path="https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data"
name=["Sample code number","Clump Thickness","Uniformity of Cell Size",
      
      "Uniformity of Cell Shape","Marginal Adhesion","Single Epithelial Cell Size",
      
      "Bare Nuclei","Bland Chromatin","Normal Nucleoli","Mitoses","Class"]
data=pd.read_csv(path,names=name)

In [118]:
data

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [120]:
data=data.replace("?",np.nan)

In [121]:
data.dropna(inplace=True)

In [122]:
data.isnull().any()

Sample code number             False
Clump Thickness                False
Uniformity of Cell Size        False
Uniformity of Cell Shape       False
Marginal Adhesion              False
Single Epithelial Cell Size    False
Bare Nuclei                    False
Bland Chromatin                False
Normal Nucleoli                False
Mitoses                        False
Class                          False
dtype: bool

In [123]:
from sklearn.model_selection import *
from sklearn.feature_extraction.text import *
from sklearn.feature_extraction import DictVectorizer
# 特征预处理
from sklearn.preprocessing import *
#数据降维 特征选择
from sklearn.feature_selection import *
from scipy.stats import pearsonr
import matplotlib.pyplot as plt
from sklearn.decomposition import *
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import *
from sklearn.metrics import *

In [124]:
x =data.iloc[:,1:-1]

In [125]:
y = data.Class

In [126]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=22)

In [127]:
transfer=StandardScaler()
x_train=transfer.fit_transform(x_train)
x_test=transfer.transform(x_test)

In [128]:
estimator=LogisticRegression()

In [129]:
estimator.fit(x_train,y_train)

LogisticRegression()

In [130]:
print(estimator.coef_)
print(estimator.intercept_)

[[1.19777169 0.10877967 0.73209957 0.60323232 0.12122898 1.48162508
  0.75112762 0.79980762 0.82133788]]
[-1.0749105]

In [131]:
predict=estimator.predict(x_test)
print(predict==y_test)
error=estimator.score(x_test,y_test)
print(error)

389     True
32      True
272     True
655     True
271     True
       ...
296    False
585     True
256     True
43     False
691     True
Name: Class, Length: 171, dtype: bool
0.9766081871345029

In [132]:
import joblib

In [133]:
joblib.dump(estimator,"LinerRegressionModel.pkl")

['LinerRegressionModel.pkl']

In [134]:
estimator1=joblib.load("LinerRegressionModel.pkl")

In [135]:
predect=estimator1.predict(x_test)
print(predect)

[2 4 4 2 2 2 2 2 2 2 2 2 2 4 2 2 4 4 4 2 4 2 4 4 4 2 4 2 2 2 2 2 4 2 2 2 4
 2 2 2 2 4 2 4 4 4 4 2 4 4 2 2 2 2 2 4 2 2 2 2 4 4 4 4 2 4 2 2 4 2 2 2 2 4
 2 2 2 2 2 2 4 4 4 2 4 4 4 4 2 2 2 4 2 4 2 2 2 2 2 2 4 2 2 4 2 2 4 2 4 4 2
 2 2 2 4 2 2 2 2 2 2 4 2 4 2 2 2 4 2 4 2 2 2 4 2 2 2 2 2 2 2 2 2 2 2 4 2 4
 2 2 4 4 4 2 2 4 4 2 4 4 2 2 2 2 2 4 4 2 2 2 4]